{% extends "accounts/base.html" %}
{%  load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h1>{% trans "Sign In" %}</h1>

    <p>Login with Github to contribute repositories for users to install easily.</p>
    <a href='{{ request.scheme }}://{{ request.get_host }}/social/github/login/?process=login'> <img src="{% static 'github.jpeg' %}" alt="github"></a>
    <br>
    <p>Anyone wondering what GitHub is, it's a code repository, allowing open source users cto build and contribute to projects.</p>

{% endblock %}