{% extends "accounts/base.html" %} {% load crispy_forms_tags %}


{% block title %} My Take Out {% endblock %}
{%  load static %}



<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{%  block heading %} <h3>Dashboard:</h3> {% endblock %}
{% block content %}

    <h1> Tuxconfig, device installs made simple</h1>
    <table>
    <tr>
    <td colspan="2"><h4>This module was contributed by:</h4></td>
    </tr>
        <tr>
            <td>
    <img src="{{  git_user.avatar_url }}">
            </td>
            <td><h5>{{  git_user.name }}</h5>
                <p><b>Working for:</b></p>
                <p>{{  git_user.company }}</p>
                <p><b>Based in:</b></p>
                <p>{{  git_user.location }}</p>
                <p><b>Blog:</b></p>
                <p>{{  git_user.blog }}</p>
                <p><b>Located in:</b></p>
                <p>{{  git_user.location }}</p>
                <p><b>Bio:</b></p>
                <p>{{  git_user.bio }}</p></td>
        </tr>

    </table>




{% endblock %}
