{% extends "accounts/base.html" %} {% load crispy_forms_tags %}{% load static %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}

    {% endif %}
    <div class="login-form">
        <a href='http://localhost:8000/social/github/login/?process=login'> <img src="{% static 'github.jpeg' %}" alt="github"></a>

    </div>
{% endblock %}
