{% extends "accounts/base.html" %} {% load crispy_forms_tags %}


{% block title %} My Take Out {% endblock %}
{%  load static %}



<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{%  block heading %} <h3>Dashboard:</h3> {% endblock %}
{% block content %}

    <h1>Sign off on module:</h1>
    {%  for repo in repositories %}
        <form method="post">
            {{ repositories.managemnet_form }}
        <a href="https://www.github.com/{{  repo.instance.git_username }}/{{  repo.instance.git_repo }}/commit/{{ repo.instance.git_commit }}" target="_blank" >https://www.github.com/{{  repo.instance.git_username }}/{{  repo.instance.git_repo }}/{{  repo.instance.git_commit }}</a>
        <p>{{ repo.instance.module_name }}</p>
        <p>Upvotes: {{  repo.instance.upvotes }}</p>
        <p>Downvotes: {{  repo.instance.downvotes }}</p>
        <p>Discussion url:<A href="{{  repo.instance.discussion_url }}">{{  repo.instance.discussion_url }}</A></p>
        <p>Set discussion url: {{  repo.discussion_url }}</p>
        <button type="submit" value="{{  repo.instance.id }}" name="upvote">
            <img src="{% static "up_button.png" %}" />
        </button>
        <button type="submit" value="{{  repo.instance.id }}" name="downvote">
            <img src="{% static "down_button.png" %}" />
        </button>

    <br><br>

        {%  csrf_token %}
        <button class="btn btn-primary">Add / set discussion url.</button>
        </form>

    {%  endfor %}



{% endblock %}
