{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo"><a href='/'>Whossh</a></span>
    {% if request.user.is_authenticated %}
    <span class="">
    <ul class="menu">
      <li {% if section == "dashboard" %}class="selected"{% endif %}>
        <a href="/org/">Dashboard</a>
      </li>
      <li {% if section == "dashboard" %}class="selected"{% endif %}>
        <a href="/org/members/">Members</a>
      </li>
      <li {% if section == "Rules" %}class="selected"{% endif %}>
        <a href="/event/rules/">Rules</a>
      </li>
      <li {% if section == "Logins" %}class="selected"{% endif %}>
        <a href="/event/">Logins</a>
      </li>
    </ul>
  </span>
  {% endif %}
  <span class="user">
    {% if request.user.is_authenticated %}
      <ul class="menu">
        <li>Hello {{ request.user.first_name }}</li>
      <li {% if section == "dashboard" %}class="selected"{% endif %}>
        <a href="/accounts/">Account</a>
      </li>
      <li>
      <a href="{% url "account:logout" %}">Logout</a>
    </li>
  </ul>
    {% else %}
    <ul class="menu">
      <li {% if section == "register" %}class="selected"{% endif %}>
        <a href="{% url "account:register" %}">Register</a>
      </li>
      <li {% if section == "Login " %}class="selected"{% endif %}>
        <a href="{% url "account:login" %}">Log-in</a>
      </li>
    </ul>
    {% endif %}
  </span>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
