{% extends "accounts/base.html" %} {% load crispy_forms_tags %}


{% block title %} My Take Out {% endblock %}
{%  load static %}



<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{%  block heading %} <h3>Add repository:</h3> {% endblock %}
{% block content %}



    <p>To resend your verification form:</p>
    <form method="post">


        {{  user_form| crispy }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary  m-1" name="staff" value="Resend verification email"></p>

    </form>
    <p>To register as staff please ask your employer for a register code.</p>

{% endblock %}
